<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ds.worldfunclub">

    <queries>
        <package android:name="com.tencent.mm" />
    </queries>

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--用于扫描二维码-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--用于扫描二维码-->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- unavailable in API 23 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <!--帮助您确定位置，以提供更好的服务-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <!-- Displays an Android View that continues showing the launch screen
                 Drawable until Flutter paints its first frame, then this splash
                 screen fades out. A splash screen is useful to avoid any visual
                 gap between the end of Android's launch screen and the painting of
                 Flutter's first frame. -->
            <meta-data
                android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@drawable/launch_background" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="com.ds.worldfunclub"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="com.ds.worldfunclub"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />


        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.PingjiaDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MessageCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ManoeuvreActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.homeentry.WelfareOfNewComersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.homeentry.BrandSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.homeentry.TopSellingListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.homeentry.SpecialOfferActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.homeentry.SigninActivity" />

        <activity
            android:name=".ui.activity.goods.ShopDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.goods.GoodsDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.goods.NewAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.goods.SelectedAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.goods.CartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.goods.GoodsCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".ui.activity.order.OrderConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.order.OrderListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.order.OrderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.order.AftermarketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.order.OrderSearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.settings.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.settings.user.SelfInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.settings.user.SelfInfoContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.settings.user.SelfInfoNickNameActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.settings.security.AccountAndSecurityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.settings.security.ModifyPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.settings.security.ModifyPhoneConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.settings.security.ModifyPayPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.settings.security.ModifyPayPasswordConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.settings.security.SystemPermissionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.settings.commonuser.CommonUserContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.settings.commonuser.CommonUserContactAddActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.settings.about.AboutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.mine.MyFollowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.mine.MyCollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.mine.MyCouponActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.mine.BalanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.mine.MyFootprintActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.vip.WithdrawActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.vip.WithdrawRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.vip.AddCardOfBankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.vip.AddCardImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.vip.MyVipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.vip.MyProfitActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.login.LoginPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.login.BindPhoneActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.live.delicicy.LiveDelicacyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.live.delicicy.LiveDelicacyChildActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.live.casual.CasualShopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.live.casual.CasualDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.live.casual.CasualHomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.live.hotel.HotelDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.live.hotel.HotelHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.live.hotel.HotelListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.live.hotel.HotelOrderCommitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.live.hotel.HotelSearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.CitySelectorActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.live.PayCouponActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.live.GetCouponActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.live.ShopListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.google.zxing.client.android.encode.EncodeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.live.delicicy.DelicacyDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.goods.CategoryGoodsLastActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.activity.merchant.BusinessBackgroundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.merchant.WriteOffActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.merchant.AddBankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.merchant.WithdrawBusiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.order.DelicacyCommitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.order.OrderLiveListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.order.PayOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.order.EvaluationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.order.PaySuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.order.ExpressActivity"
            android:screenOrientation="portrait" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ds.worldfunclub.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider" />

        </provider>

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />
    </application>
</manifest>
